@aemforms:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-aem-release/
//artifactory.corp.adobe.com/artifactory/api/npm/npm-aem-release/:_auth=${NPM_TOKEN}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-aem-release/:always-auth=true
